.top {
  padding: 50px;
  background: #fff;
  border-radius: 10px;
  /* color: #000; */
}

input[type="file"] {
  display: none;
}

.choose {
  background-color: initial;
  background: #f99191;
  border-radius: 6px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 6px;

  padding-bottom: 10px;
}
.choose:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
.textArea {
  color: black;
  margin-bottom: 10px;
  /* width: 400px; */
}

.upload {
  border: 1px solid #13aa52;
  background-color: #13aa52;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 10px;
}

.upload:hover {
  border: 1px solid #13aa52;
  background-color: #a5efc1;
  color: #ffffff;
  padding: 5px 10px;
}

.upload:disabled,
.upload[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

div {
  padding: 5px 10px;
}

.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px dashed var(--border-color);
  border-radius: 10px;
  margin: 30px;
  transition: 0.2s all ease-in;
}

/* will be added when user drags */
.drop-zone.dragged {
  background: var(--main-bg-color);
  border-color: #fa5c5c6e;
}

.drop-zone input {
  display: none;
}
.icon-container {
  position: relative;
  width: 75px;
  height: 100px;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transition: transform 0.25s ease-in-out;
  transform-origin: bottom;
}

.icon-container .center {
  z-index: 10;
}
.icon-container .right,
.icon-container .left {
  filter: grayscale(0.5);
  transform: scale(0.9);
}
.dragged .center {
  transform: translateY(-5px);
}
.dragged .right {
  transform: rotate(10deg) scale(0.9) translateX(20px);
}
.dragged .left {
  transform: rotate(-10deg) scale(0.9) translateX(-20px);
}
.title {
  font-size: large;
}
#browseBtn {
  color: #f97171;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed #fa5c5c6e;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}
